.property-wrapper {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    overflow: auto;
    width: 99.5%;
}

.menu-option {
    cursor: pointer;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
}

.property-label {
    display: inline-block;
    font-weight:bold;
    padding-left: 0.5rem;
    text-align: left;
    width: 29%;
}

.property-value {
    border-left: 1px solid black;
    float: right;
    padding-right: 0.5rem;
    text-align: right;
    width: 65%;
}

input[type="text"] {
    border:none;
    width: 100%;
    text-align: right;
}

input[type="text"]:focus {
    outline: none;
}

input[type="checkbox"] {
    height: 1.5rem;
}

.select-multi-wrapper {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
}

.select-property-label {
    width: 90%;
}

.input-wrapper {
    border-left: 1px solid black;
    float: right;
    padding-right: 0.5rem;
    text-align: right;
    width: 65%;
}
